:root {
  /***** Colors ****/

  /* Greys */
  --colorNeutral900: hsl(245deg 15% 8%);
  --colorNeutral800: #373e4d;
  --colorNeutral700: #545b6d;
  --colorNeutral600: #7d8699;
  --colorNeutral500: #a8aebd;
  --colorNeutral400: #c2c7d1;
  --colorNeutral300: #d7dae0;
  --colorNeutral200: #e5e6e8;
  --colorNeutral150: #f3f2f7;
  --colorNeutral100: #f7f8fa;
  --colorNeutral100RGB: 245, 248, 250;
  --colorNeutral050: hsl(248deg 75% 99%);
  --colorNeutral000: #fff;

  /* Primary */
  --colorPrimary900: #080066;
  --colorPrimary800: #251c8c;
  --colorPrimary700: #483fad;
  --colorPrimary700RGB: 72, 63, 173;
  --colorPrimary200: #dbd9f1;
  --colorPrimary100: #f8f7ff;

  /* Warning */
  --colorWarning700: #fcb415;
  --colorWarning200: #fff9eb;

  /* Negative */
  --colorNegative700: #ff4143;
  --colorNegative200: #fef3f1;

  /* Positive */
  --colorPositive700: #05bd8c;
  --colorPositive200: #edfdf5;

  /* Info */
  --colorInfo700: #207af1;
  --colorInfo200: #f2f8ff;

  /* Text */
  --colorTextHeading: var(--colorNeutral900);
  --colorTextDefault: var(--colorNeutral700);
  --colorTextMuted: var(--colorNeutral600);

  /* Color Shadow */
  --colorShadow: rgba(72, 63, 173, 0.2);
  --colorMark200: #eddd87;

  /* Color Alternate */
  --color1Alternate700: #1cb8bd;
  --color2Alternate700: #2ea9e8;
  --color3Alternate700: #2349bd;
  --color4Alternate700: #ad2bc2;

  /* Color Social Media */
  --colorTwitter: #1d9bf0;
  --colorLinkedIn: #2867b2;

  /***** Shadows *****/
  --focusOutlineShadow: 0 0 0 3px rgba(var(--colorPrimary700RGB), 0.15);

  /***** Dimensions ****/

  /* Content widths */
  --widthMaxSite: 1200px;
  --widthBlogContainer: 1204px;
  --widthMaxLists: 1024px;
  --widthMaxPost: 680px; /** If this is changed, update TeamAttribution.module.scss */

  /* Border Radii */
  --borderRadius: 0.625rem;
  --borderRadiusSmall: 0.25rem;

  /* Border Width */
  --borderWidthNormal: 1px;
  --borderWidthBold: 2px;
  --borderWidthBlack: 0.25rem;

  /* Spacing */
  --spacingXxxsmall: 0.125rem;
  --spacingXxsmall: 0.25rem;
  --spacingXsmall: 0.5rem;
  --spacingSmall: 0.75rem;
  --spacingNormal: 1rem;
  --spacingLarge: 1.5rem;
  --spacingXlarge: 2rem;
  --spacingXxlarge: 3rem;
  --spacingXxxlarge: 4rem;
  --spacingXxxxlarge: 5rem;

  /* Misc */
  --roundedBarHeight: 4px;

  /***** Font ****/

  /* Fonts */
  --fontFamily: "TTNormsPro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fontFamilyMarketing: "Playfair Display", sans-serif;

  /* Font Sizes */
  --fontSizeRootDesktop: 1rem;
  --fontSizeRootMobile: 0.875rem;
  --fontSizeXxxxxlarge: 2.75rem;
  --fontSizeXxxxlarge: 2.5rem;
  --fontSizeXxxlarge: 1.875rem;
  --fontSizeXxlarge: 1.5rem;
  --fontSizeXlarge: 1.25rem;
  --fontSizeLarge: 1.125rem;
  --fontSizeNormal: 1rem;
  --fontSizeSmall: 0.875rem;
  --fontSizeXsmall: 0.75rem;
  --fontSizeXxsmall: 0.625rem;
  --fontSizeXxxsmall: 0.5rem;

  /* Weights */
  --fontWeightNormal: 400;
  --fontWeightLightBold: 500;
  --fontWeightMediumBold: 600;
  --fontWeightHeavyBold: 700;

  /* Line Heights */
  --lineHeightTitle: 1.5em;
  --lineHeightNormal: 1.7em;
  --lineHeightCode: 1.6em;
  --lineHeightMinimum: 1.1em; /* Minimum line height that doesn't clip descenders */

  /* Letter Spacing */
  --letterSpacingWide: 0.1em;
  --letterSpacingHeading: -0.025em;

  /***** Z-index ****/
  --zNav: 2;
  --zAboveContent: 1;

  /***** Animation ****/
  --transitionDuration: 0.25s;
  --transitionDurationLong: 0.35s;
  --transitionFunction: ease-in-out;
  --transitionFunctionNatural: cubic-bezier(0.36, 0.12, 0.44, 1.04);

  /***** Sizes ****/
  --controlFontSize: var(--fontSizeNormal);

  /***** Other ****/
  --siteGutter: var(--spacingLarge);
  --anchoredHeadingTopOffset: 80px;
  --hubSpotFormMaxWidth: 450px;
  --navBarBuffer: calc(2 * var(--spacingLarge) + var(--roundedBarHeight) + 2 * var(--spacingSmall) + var(--fontSizeSmall) + var(--spacingLarge));
  --logosMinWidth: 400px;
}
